<footer id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <b>WHO WE ARE</b><br><br>
                <span>Our history</span><br>
                <span>Press centre</span><br>
                <span>Contact us</span>
            </div>
            <div class="col-sm">
                <b>GET INVOLVED</b><br><br>
                <span>Join us</span><br>
                <span>Donate</span><br>
                <span>Careers</span><br>
                <span>Shop</span>
            </div>
            <div class="col-4">
                <p><b>FOLLOW US</b></p>
                <a href=""><img src="assets/facebook-logo.svg" alt="facebook"></a>&nbsp;&nbsp;
                <a href=""><img src="assets/pinterest-logo.svg" alt="pinterest"></a>&nbsp;&nbsp;
                <a href=""><img src="assets/twitter-logo.svg" alt="twitter"></a>&nbsp;&nbsp;
                <a href=""><img src="assets/youtube-logo.svg" alt="youtube"></a>&nbsp;&nbsp;
            </div>
            <div class="col-4">
               <img src="assets/lts-logo-light.svg" alt="logo"><br><br>
                <div class="float-right">
                    <p>3 Warren Rd,<br> Mary Tavy,<br> Tavistock PL19 9PF,<br> United Kingdom</p>
                </div>
                
            </div>
            
        </div>
    </div>

</footer>